# 👉 NPM_PERSONAL_ACCESS_TOKEN: @see .bash_profile
# @todo vault

# ~~~
# 👉 @namespace: *
#
registry=https://registry.npmjs.org/

# ~~~
# 👉 @namespace: @plaibook/{package}
#
@plaibook:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${NPM_PERSONAL_ACCESS_TOKEN}
# //npm.pkg.github.com/:_authToken=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
